In [1]:
import pickle

In [6]:
with open('./data/x_train_alpha(0.01).pkl', 'rb') as file: 
    data = pickle.load(file=file)

In [7]:
data.head()

,age1,age2,age3,age4,age5,age6,gender1,gender2,job1,job2,...,job18,job19,job20,job21,PR,CD,CC,CB,LC,AND
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.468203,0.675545,0.817829,0.043582,0.043606,0.672432
1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.052507,0.019370,0.568223,0.000000,0.000000,0.697668
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.193779,0.259080,0.653926,0.000660,0.000662,0.843836